
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: #fff;
}

button[type=submit] {
    margin-right: 5px;
}

.form-switch input, label {
    cursor: pointer;
}